body{top:0;
    background-color: black;
}


#cover{
    top:0;
    width:600px;
    height:1902px;
    background-color: white;
    margin: 0 auto;
}

#d1{
    
    top:0;
    width:100%;
    height:105px;
    background-color:#282828;
    border-bottom:10px solid;
    border-bottom-color:mintcream;
}
#d1a{
    padding-bottom: 3px;
    width:50%;
    height:100px;
    text-align: left;
    color:yellow;
    font-size: 80px;
    font-family: monospace;
    float: left;
    font-weight:100;
    padding-top: 11px;
    font-variant-position: sub;
    margin-bottom: 5px;
}
#d1b{
    padding-top: 80px;
    color: white;
    width:49%;
    height:105px;
    align-items: flex-end;
    text-decoration-style: none;
    float:right;
    text-align: right;
    font-size:13px;
    font-variant-position: sub;

}
#this{
    color: whitesmoke;
}

#d2{
    height:270px;
    background-image: url(big_img.jpg) ; 
    width:100%;
   font-family:  "Trebuchet MS", Helvetica, sans-serif;
}

#simply{
  width: 30%;
    float: left;
    margin: 6px;
    font-size: 20px;
}

#the{
font-size: 7px;   
}

#d3{
    background-color: white;
    width:600px;
    height:204px;
    border-bottom:10px solid;
    border-bottom-color:mintcream;
    font-family: "Trebuchet MS";
}
#sec1{
    color: darkgrey;
    font-size: 12px;
}
#main{
    margin: 10px;
}
button{
   color: whitesmoke;
    background-color: black;
    border-radius:15px;
    width: 76px;
    height: 30px;
    border-style: hidden;
    opacity: 0.8;
}

#d4{
   width:100%;
    height:215px;
    background-color:white;
    border-bottom:10px solid;
    border-bottom-color:mintcream; 
    margin: 0 auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding-top: 6px;
}
#d41{
 width:32%;
height:100%;
float: left;
margin-right:  solid white 6px;
}
#d42{
  width:32%;
height:100%;
float: left; 
border-right: solid white 6px;
}
#d43{
  width:32%;
height:100%;
float: left;  

}
img{
    margin: 0 auto;
    width: 47px;
    height: 47px;
}

#d5{
  width:100%;
    height:255px;
    background-color:white;
    border-bottom:10px solid;
    border-bottom-color:mintcream;  
}

#d6{
  width:100%;
    height:255px;
    background-color:white;
    border-bottom:10px solid;
    border-bottom-color:mintcream;  
}

#d7{
   width:100%;
    height:120px;
    background-color:springgreen;
    border-bottom:10px solid;
    border-bottom-color:mintcream; 
}


#d8{
width:100%;
    height:170px;
    background-color:#525252;
    border-bottom:auto solid;
    border-bottom-color:mintcream;
}
#d9{
  width:100%;
    height:110px;
    background-color:#282828;
    border-bottom-width:auto;border-bottom-style: solid;
    border-bottom-color:mintcream;  
}

a:link{
    text-decoration: none;
    font-weight: 800;
}